<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/pages/general/general.css">
    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>%%DOCUMENT_TITLE%%</title>
</head>
<body>
    <nav>
        <a href="/">Frontpage</a>
        <a href="/variable">Variables</a>
        <a href="/callback">Callbacks</a>
        <a href="/cli">CLI</a>
        <a href="/node">Node</a>
    </nav>
    <div id="main-area">

